html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 520px;
  padding: 20px;
  position: relative;
}

.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.todo-input {
  width: 400px;
}

#submit {
  margin-left: 20px;
}

.finished-item {
  text-decoration: line-through;
  color: #ccc;
}